<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <!-- CSS section-->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Content/app.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">COMP308 - Nusrat Jahan</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if(title == "Home") { %>
          <li class="nav-item active"><% } else { %></li>

          <li class="nav-item">
            <% } %>

            <a class="nav-link" href="/"
              ><i class="fa fa-lg fa-home-heart"></i> Home
              <span class="sr-only">(current)</span></a
            >
          </li>

          <% if(title == "About") { %>
          <li class="nav-item active"><% } else { %></li>

          <li class="nav-item">
            <% } %>

            <a class="nav-link" href="/about"
              ><i class="fa fa-lg fa-info-circle"></i> About</a
            >
          </li>

          <% if(title == "Products") { %>
          <li class="nav-item active"><% } else { %></li>

          <li class="nav-item">
            <% } %>

            <a class="nav-link" href="/products"
              ><i class="fa fa-lg fa-product-hunt"></i> Products</a
            >
          </li>

          <% if(title == "Services") { %>
          <li class="nav-item active"><% } else { %></li>

          <li class="nav-item">
            <% } %>

            <a class="nav-link" href="/services"
              ><i class="fa fa-lg fa-servicestack"></i> Services</a
            >
          </li>

          <% if(title == "Contact") { %>
          <li class="nav-item active"><% } else { %></li>

          <li class="nav-item">
            <% } %>

            <a class="nav-link" href="/contact"
              ><i class="fa fa-lg fa-phone-square"></i> Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Learn more</a
          >
        </p>
      </div>
    </div>

    <!-- Scripts section-->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
